{
  "presets": [
    ["@babel/env", {
      "targets": {
        "chrome": "31",
        "firefox": "38",
        "ie": "11",
        "opera": "14",
        "safari": "5.1",
      },
    }],
    "@babel/preset-react",
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
  ],
}
