{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "react/forbid-prop-types": ["error", { forbid: ["any", "array"] }],
    "no-plusplus": 0
  }
}
